.navbar-brand {
    color: #00cc00;
    text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
    font-size: 1.0rem;
}

.nav-item {
    padding-top: 0.3125rem;
    padding-right: 0.3125rem;
    margin-right: 1rem;
}
    .nav-item ::deep a {
        display: flex;
    }

.star {
    color: #ffff66;
    font-style: normal;
    text-shadow: 0 0 5px #ffff66;
}