<div class="navbar navbar-expand-md mb-4">
  <div class="col-1" style="text-align: center;" >
    <a class="navbar-brand" href="#">AoC.Web</a>
  </div>
  <div class="col-9">
    <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="puzzles/2015">[2015]</NavLink>
    <NavLink href="puzzles/2016">[2016]</NavLink>
  </div>
</div>