<div class="navbar navbar-expand-md mb-4">
  <div class="col-1" style="text-align: center;" >
    <a class="navbar-brand" href="#">AoC.Web</a>
  </div>
  <div class="col-9">
    <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="puzzles/2015">[2015]</NavLink>
    <NavLink href="puzzles/2016">[2016]</NavLink>
    <NavLink href="puzzles/2017">[2017]</NavLink>
    <NavLink href="puzzles/2021">[2021]</NavLink>
    <NavLink href="puzzles/2023">[2023]</NavLink>
    <NavLink href="puzzles/2024">[2024]</NavLink>
    <NavLink href="puzzles/2025">[2025]</NavLink>
  </div>
</div>